<div class="row"  id ="container" >
    <div class="col-lg-4">


        <ol class="breadcrumb">

            <li><a href="" ng-click="getNewBets()">Get New Bets</a></li>


            <div class="form-group required">
                <label class="col-sm-2 control-label">დასადები თანხა &#160;</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="stake" ng-model="stake" placeholder="Payment"required>
                </div>

            </div>
            <li><a href="" ng-click="calculateBets()">Calculate Bets And View</a></li>

        </ol>

    </div>

</div>


<div class="row" id ="containerGrid" >
    <div class="col-lg-12">

        <div style="margin-top:20px;">

                <table ng-table class="table">

                    <tr ng-repeat="itm in data">
                        <td data-title="'Event'">{{itm.player1}} - {{itm.player2}} </td>
                        <td data-title="'Date'">{{itm.date}}</td>
                        <td data-title="'Profit %'">{{itm.profitPercent| number:3}}</td>
                        <td data-title="'Profit Payment'">{{itm.profitPayment| number:3}}</td>


                        <td data-title="'odds'">{{itm.BetRange}}</td>
                        <td data-title="'suppliers'">{{itm.site}}</td>


                        <td data-title="'1 Payment'">{{itm.bet1Payment | number:3}}</td>
                        <td data-title="'X Payment'">{{itm.betXPayment| number:3}}</td>
                        <td data-title="'2 Payment'">{{itm.bet2Payment| number:3}}</td>
                    </tr>
                </table>

        </div>

    </div>

</div>

