<div class="row">
	<div class="col-md-4">&nbsp;</div>
	<div class="col-md-4">
		<form class="form-reset" role="form">
			<h2 class="form-login-heading">Change password</h2>
			<div class="form-group">
				<input type="password" class="form-control" placeholder="password" data-ng-model="data.password" required>
			</div>
			<div class="form-group">
				<input type="password" class="form-control" placeholder="confirm password" data-ng-model="data.confirmPassword" required>
			</div>
			<button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="reset()">Sign up</button>
			<div data-ng-hide="message == ''" class="alert alert-danger">{{message}}</div>
		</form>
	</div>
	<div class="col-md-4">&nbsp;</div>
</div>