<div class="row">
    <div class="col-lg-4">


        <ol class="breadcrumb">

            <li><a href="#{{url.project}}">Projects</a></li>
            <li><a href="#{{url.project}}/{{projectId}}/addmodel"> Add model </a></li>

        </ol>

    </div>

</div>


<div class="row">

    <!--<div class="col-lg-12 animated fadeInRight">-->
    <div class="col-lg-12">

        <div style="margin-top:20px;">

            <table ng-table class="table">

                <tr ng-repeat="itm in data.models">
                    <td data-title="'Name'">{{itm.name}}</td>
                    <td data-title="'Title'">{{itm.title}}</td>
                    <td data-title="'List'">{{itm.list.is}}</td>
                    <td data-title="'Read'">{{itm.read.is}}</td>
                    <td data-title="'Delete'">{{itm.delete.is}}</td>
                    <td data-title="'Create'">{{itm.create.is}}</td>
                    <td data-title="'Update'">{{itm.update.is}}</td>
                    <td data-title="'Description'">{{itm.list.is}}</td>
                    <td data-title="'Create Date'">{{itm.docInfo.createDate | date:'MM/dd/yyyy - h:mma'}}</td>
                    <td data-title="'Action'">
                        <a href="" title="Delete" class="btn btn-default btn-xs"
                           ng-click="delete(itm._id, itm.name)">Delete</a>
                        <a href="#{{ url.project }}/{{ projectId }}/editmodel/{{itm._id }}" title="Edit" class="btn btn-default btn-xs">Edit</a>
                    </td>
                </tr>

            </table>


        </div>

    </div>

</div>

