<div class="my-container">
    <div class="user">
        <div class="user-details row">
            <div class="user-avatar">
                <img ng-src="{{userInfo.avatar}}" alt="{{userInfo.firstName}} {{userInfo.lastName}}"/>
            </div>
            <div class="user-information">
                <div>{{userInfo.firstName}} {{userInfo.lastName}}</div>
                <div>{{userInfo.city}}</div>
            </div>
        </div>
        <div class="user-photos row">
            <div class="user-photo-item col-xs-3 col-sm-3 col-md-4 col-lg-3" ng-repeat="item in userContestList">
                <img ng-src="{{item.image}}" alt=""/>
            </div>
        </div>
    </div>
</div>